.button {
    -fx-background-image: url("../media/bloques.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.arrowButton{
        -fx-background-image:url("../media/flecha1.png");
        -fx-background-color: transparent;
        -fx-background-size:100%;
        -fx-background-position:center; 
	-fx-background-repeat: no-repeat;
}

.arrowButtonLeft{
        -fx-background-image:url("../media/flecha2.png");
        -fx-background-color: transparent;
        -fx-background-size:100%;
        -fx-background-position:center; 
	-fx-background-repeat: no-repeat;
     
}

